<h2>Home</h2>
<hr>

<div class="row">
  <div class="col-lg-8">

    <h3>Minutes Worked</h3>

    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th scope="col">
            Monday
          </th>
          <th scope="col">
            Tuesday
          </th>
          <th scope="col">
            Wednesday
          </th>
          <th scope="col">
            Thursday
          </th>
          <th scope="col">
            Friday
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            10
          </td>
          <td>
            20
          </td>
          <td>
            30
          </td>
          <td>
            40
          </td>
          <td>
            50
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
