<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Inventory Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/landing">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/lookup">Lookup</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/add-item">Add New Item</a>
      </li>
    </ul>
  </div>
</nav>
